body
  margin 0
  padding 0

h1
  margin 0

h2
  text-align center
  font-size 1.3em
  margin 0 0 1em

h3
  margin 0 0 .5em
  font-size 1.2em

img
  max-height 100%
  max-width 100%

header.main
  display inline-block
  margin 0 0 2em
  position relative
  text-align center

a.logo
  display inline-block
  margin 0 auto
  width 80%

  img
    float left

    &:first-child
      width 15%

    &:last-child
      margin 5% 0 0 -3%
      width 87%

div#wrapper
  margin 0 auto
  max-width 800px
  width 90%
  padding 1em 0

div.content
  border-radius 1em
  padding 0 30px
  margin 0

p
  margin 0 0 .5em

nav.main
  border-bottom-left-radius 2em
  border-bottom-right-radius 2em
  font-size 1.1em
  position absolute
  width 100%

  ul
    display inline-block
    margin 0 auto
    padding 0 1em .2em
    position relative

    li
      margin 0 0 .5em
      width 100%

      a
        text-decoration none
        font-size .8em

  .logo
    display none
    width 25px

body.scrolled
  nav.main
    left 0
    position fixed
    top 0

    .logo
      display block

section
  display inline-block
  padding 3em 0
  text-align center
  width 100%

  ul
    li
      margin 0 0 2em
      text-align center

  &#wizards
    img
      border-radius 1em

    a
      text-decoration none

  &#work
    ul
      li
        clear both
        display inline-block
        float none
        margin 0 0 2em
        width 100%

        a
          float left
          width 30%

        div
          float right
          text-align left
          width 65%

footer.main
  font-size 1.2em
  text-align center
  width 100%
