@media (min-width 400px)
  nav.main

    ul

      li
        float left
        margin .2em .2em 0
        width auto

        a
          margin .2em 0 0

    &.logo
          display none
          width 30px

    .toggle
      display none

  section#wizards
    ul
      li
        float left
        margin 0 1% 1em
        width 48%

@media (min-width 440px)
  nav.main
    ul
      li
        a
          font-size 1em
