@media(max-width 400px)
  body.menu-toggled
    nav.main
      ul
        display inline-block

  body.scrolled
    nav.main
      border-radius 0

  nav.main 
    ul
      display none
      padding .5em 1em
      width 100%

    .logo
      position absolute

  .toggle
    display inline-block
    margin 0 auto
    width 25px

    span
      border-radius 3px
      display block
      height 3px
      margin 3px 0
      width 100%
