@import nib
global-reset()

$body-color = #fefefe
$body-bg-color = #f0f0f2
$link-color = #555
$link-hover-color = #000

$div-bg-color = #fff

$heart-color = #f00

// @stylint off
*
  box-sizing border-box
// @stylint on

body
  background-color $body-bg-color
  font-size 18
  margin 0
  padding 0
  font-family Ubuntu, "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif

h1
  margin 0

h2
  text-align center
  font-size 1.3em
  margin 0 0 1em

h3
  margin 0 0 .5em
  font-size 1.2em

img
  max-height 100%
  max-width 100%

a,
a:link,
a:visited
  color $link-color

a:hover
  color $link-hover-color

a.active
  text-decoration underline

header.main
  margin 0 0 .2em
  text-align center

.logo
  display inline-block
  margin 0 auto
  width 80%

  img
    float left

    &:first-child
      width 15%

    &:last-child
      width 87%
      margin 5% 0 0 -3%

div#wrapper
  max-width 800px
  margin 1em auto
  width 90%

div.content
  padding 0 30px 30px
  background-color $div-bg-color
  border-radius 1em

p
  margin 0 0 .5em

nav.main
  font-size 1.1em
  width 100%
  text-align center
  display inline-block
  margin 0 0 1em

  ul
    margin 0 auto
    display inline-block
    position relative
    background-color $body-bg-color
    border-bottom-left-radius 2em
    border-bottom-right-radius 2em
    padding 0 1em .2em

    li
      margin 0 .2em
      float left

      &.logo
        width 30px
        margin 0
        display none

body.scrolled
  nav.main
    position fixed
    top 0
    left 0

    ul 
      li.logo
          display block

section
  padding 3em 0
  display inline-block
  width 100%
  text-align center

  ul
    li
      text-align center
      margin 0 0 2em

  &#wizards
    img
      border-radius 1em

  &#work
    ul
      li
        width 100%
        float none
        margin 0 0 2em
        clear both
        display inline-block

        a
          width 30%
          float left

        div
          float right
          width 65%
          text-align left

footer.main
  width 100%
  margin 10em 0 0
  text-align center
  color $heart-color
  font-size 1.2em

@media (min-width 400px)
  section#wizards
    ul
      li
        width 48%
        margin 0 1% 1em
        float left

@media (min-width 600px)
  body
    font-size 20px

  section
    ul
      li
        float left
        width 31.333%
        margin 0 1%
